/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define MO_TOG(layer) &mo_tog layer layer   // Macro to apply momentary-layer-on-hold/toggle-layer-on-tap to a specific layer



/ {
    combos {
        compatible = "zmk,combos";

        Undo {
            bindings = <&kp LG(Z)>;
            key-positions = <15 14>;
        };

        Backspace {
            bindings = <&kp LA(BACKSPACE)>;
            key-positions = <20 21>;
        };

        For_combo {
            bindings = <&for_macro>;
            key-positions = <14 25>;
        };

        Readonly_combo {
            bindings = <&readonly_macro>;
            key-positions = <25 33>;
        };

        Public_combo {
            bindings = <&public_macro>;
            key-positions = <16 19>;
        };

        Private_combo {
            bindings = <&private_macro>;
            key-positions = <16 26>;
        };
    };

    behaviors {
        mo_tog: behavior_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            label = "mo_tog";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings =
                <&mo>,
                <&tog>;
        };
        lh: behavior_layer_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "layer_hold_tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings =
                <&mo>,
                <&kp>;
        };
    };

    macros {
        for_macro: for_macro {
            compatible = "zmk,behavior-macro";
            label = "for_macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp F &kp O &kp R>;
        };
        public_macro: public_macro {
            compatible = "zmk,behavior-macro";
            label = "public_macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp P &kp U &kp B &kp L &kp I &kp C>;
        };
        private_macro: private_macro {
            compatible = "zmk,behavior-macro";
            label = "private_macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp P &kp R &kp I &kp V &kp A &kp T &kp E>;
        };
        class_macro: class_macro {
            compatible = "zmk,behavior-macro";
            label = "class_macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp C &kp L &kp A &kp S &kp S>;
        };
        readonly_macro: readonly_macro {
            compatible = "zmk,behavior-macro";
            label = "readonly_macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp R &kp E &kp A &kp D &kp O &kp N &kp L &kp Y>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  `    |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
                           &kp ESC  &kp N1      &kp N2             &kp N3      &kp N4      &kp N5                                &kp N6         &kp N7     &kp N8         &kp N9         &kp N0                         &kp F11
                           &kp TAB   &kp Q       &kp W              &kp F       &kp P       &kp G                                 &kp J          &kp L      &kp U          &kp Y  &kp SEMICOLON                         &kp F12
 &mt LEFT_CONTROL LEFT_PARENTHESIS   &kp A       &kp R              &kp S       &kp T       &kp D                                 &kp H          &kp N      &kp E          &kp I          &kp O  &mt RIGHT_CONTROL SINGLE_QUOTE
           &mt LEFT_ALT LEFT_BRACE   &kp Z       &kp X              &kp C       &kp V       &kp B    &kt LSHIFT   &kp K_MUTE      &kp K          &kp M  &kp COMMA        &kp DOT       &kp FSLH         &mt RIGHT_ALT BACKSLASH
                                            &kp K_BACK  &kp K_APPLICATION  &kp DELETE  &sk LSHIFT  &kp LEFT_GUI  &lh 1 ENTER  &kp SPACE  &kp BACKSPACE      &mo 2  &kp K_FORWARD
            >;

            sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp LA(LEFT) LA(RIGHT)>;
        };

        command_layer {
            // TODO: Some binds are waiting for shifted keycode support.
            // ------------------------------------------------------------------------------------------------------------
            // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // | `     |   1 |   2 |   3  |   4  |   5  |                   |   6  |   7   |   8   |   9  |    0  |  F12  |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |       |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   \   |       |
            //               |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
                        &kp C_SLEEP     &kp F1            &kp F2     &kp F3             &kp F4     &kp F5                        &kp F6       &kp F7     &kp F8         &kp F9        &kp F10  &kp F11
                             &trans     &trans          &kp PIPE  &kp EQUAL     &kp UNDERSCORE     &trans                        &trans     &kp HOME     &kp UP        &kp END         &trans  &kp F12
 &mt LEFT_CONTROL RIGHT_PARENTHESIS  &kp TILDE     &kp LESS_THAN  &kp MINUS   &kp GREATER_THAN  &kp GRAVE                  &kp LA(LEFT)     &kp LEFT   &kp DOWN      &kp RIGHT  &kp RA(RIGHT)   &trans
           &mt LEFT_ALT RIGHT_BRACE     &trans  &kp LEFT_BRACKET   &kp PLUS  &kp RIGHT_BRACKET     &trans  &trans  &trans   &bootloader  &kp PAGE_UP  &kp ENTER  &kp PAGE_DOWN         &trans   &trans
                                                          &trans     &trans             &trans     &trans  &trans  &trans        &trans       &trans     &trans         &trans
            >;

            sensor-bindings = <&inc_dec_kp LA(LEFT) LA(RIGHT) &inc_dec_kp PG_UP PG_DN>;
        };

        bluetooth_layer {
            bindings = <
 &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                  &trans  &trans  &trans  &trans  &trans  &trans
 &trans        &trans        &trans        &trans        &trans        &trans                  &trans  &trans  &trans  &trans  &trans  &trans
 &trans        &trans        &trans        &trans        &trans        &trans                  &trans  &trans  &trans  &trans  &trans  &trans
 &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                             &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
